<div class="text-center">
    <h1 class="text-info pt-4">Seu pedido foi finalizado.</h1>
    <p class="pb-3">Seu pagamento será processado em breve e na sequência iniciaremos o processo de faturamento do seu pedido</p> 
    
</div>